.cabecalho {
background-color: var(--branco);
display: flex;
justify-content: space-between;
align-items: center;
position: relative; /*cria um contexto de posicionamento para filhos position:absolute*/
}

.cabecalho__container {
  display: flex;
  align-items: center;
}

.cabecalho__menu-hamburguer {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../assets/imagem/Menu.svg);
  background-repeat: no-repeat; /*não repetir a imagem de background.*/
  background-position: center;
  display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
  background-image: url(../assets/imagem/Menu-berto.svg);
}

.container__botao:checked~.container__rotulo {
  background-color: var(--azul);
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none; /*esconde a lista-menu*/
  position: absolute;/*Remove o elemento do fluxo de layout e o posiciona em relação ao seu elemento pai mais próximo com position: relative, absolute ou fixed. Em nosso caso, .cabecalho*/
  top: 100%; /*o topo do elemento .lista-menu se posicionará 100% fora do header*/
  width: 60vw;
}

.container__botao {
  display: none;
}

.container__botao:checked~.lista-menu { /* ~ significa: se o input estiver checked então mostrar .lista-menu*/
  display: block;
}

.lista-menu__titulo, 
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  color: var(--azul);
  text-transform: uppercase;
  text-decoration: none;
}

.container__titulo, .opcoes {
  display: none;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  
  .cabecalho__menu-hamburguer{
    display: none;
  }

  .container__titulo, .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 1.875rem;
  }

  .container__titulo {
    font-weight: 400;
    display: block;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__lista {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    text-decoration: none;
    color: var(--preto);
  }

  .conatiner__imagem--transparente {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked~.opcoes__rotulo>.opcoes__lista {
    background: var(--azul-escuro);
    color: var(--branco);
  }

  .opcoes__lista {
    padding: 1em 1em;
  }

  .lista-menu__item:hover {
    background-color: var(--azul-escuro);
  }

  .lista-menu__item:hover>.lista-menu__link {
    color: var(--branco);
  }
}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }


}