.cabecalho {
background-color: var(--branco);
display: flex;
justify-content: space-between;
align-items: center;
}

.cabecalho__container {
  display: flex;
  align-items: center;
}

.cabecalho__menu-hamburguer {
  width: 48px;
  height: 48px;
  background-image: url(../assets/img-header/Menu.svg);
  background-repeat: no-repeat; /*não repetir a imagem de background.*/
  background-position: center;
  display: inline-block;
}

.container_imagem {
  padding: 1em;
}

